<% include ../partials/head %>
<body class="grid-container">
  <header></header>
  <main>
    <h2>Sign In Here</h2>
    <div id="register">
      <form method="POST" action="/auth/login" id="sign-in">
        <input name="username" type="text" placeholder="username" required />
        <input name="password" type="password" placeholder="password" required />
        <input id="create" type="submit" value="Sign in" />
      </form>
    </div>
    <p class="register">Don't have an account?</p>
    <div id="register-link"><a href="/auth/register" class="three">Register Here</a></div>
  </main>
  <footer></footer>
</body>
