<% include ./partials/head %>
<body>
  <div id="navbar">
    <h1>Ready Set Plan!</h1>
    <ul>
      <li><a href="/plan/new">New</a></li>
      <li><a href="/auth/logout">Sign Out</a></li>
      <li><a href="#">Help</a></li>
    </ul>
 </div>
  <div id="outstanding">To Accomplish</div>
  <div id="items">
    <% items.forEach(item => { %>
      <% console.log(item) %>
        <h2>
          <a href="<%= `/plan/${item.id}` %>">
            <%= item.title %>
          </a>
        </h2>
        <p><%= item.description %></p>
        <p><%= item.venue %></p>
    <% }) %>
  </div>
</body>
</html>
