<% include ./partials/head %>
<body class="grid-container">
  <header></header>
    <main>
      <h1>Ready Set Plan</h1>
      <p class="start">Make it easier for a loved one to manage the administrative parts of your life when you are not able to manage it on your own.</p>
      <p class="start">Prepare for a medical crisis with our customizable plan.</p>
      <div id="get-started"><a href="/auth/register" class="one">Get Started</a></div>
    </main>
  <footer></footer>
</body>
