<% include ./partials/head %>
<div id="start">
  <h4>Ready Set Plan</h4>
  <p>Make it easier for a loved one to manage the administrative parts of your life when you are not able to manage it on your own.</p>
  <br>
  <p>Prepare for a medical crisis with our customizable plan.</p>
  <div id="get-started" class="btn btn-primary"><a href="/auth/login">Get Started</a></div>
</div>
